name: update

permissions:
  contents: write

on:
  push:
    branches: [ main ]
    paths:
      - '*.json'
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  full_update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install dependencies
        run: pip install -r requirements_viz.txt
      - name: run the benchmark
        run: python update_viz.py
      - name: Commit & Push changes
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
